.windowInfo {
  margin: 10px;
  padding: 10px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
}

.counter {
  padding: 10px;
  margin: 10px;
}

.counter div,
button {
  margin: 10px;
}

.standalone {
  background-color: lightcyan;
}

.functional {
  background-color: pink;
}

.standardhook {
  background-color: blanchedalmond;
}

.customhook {
  background-color: lightgreen;
}

.editor {
  padding: 10px;
  margin: 10px;
  background-color: pink;
}
